[Unit]
Description=tsrv

[Service]
ProtectHome=false
ExecStart="/home/theo/Projects/clang/hserv/tsrv" "/home/theo/Projects/clang/hserv/test:/test" "/home/theo/Projects/minor/profile/out:/profile" "--port" "4000" "--sport" "4043"
User=theo
StandardOutput=append:/home/theo/Projects/clang/hserv/tsrv.log
StandardError=append:/home/theo/Projects/clang/hserv/tsrv.elog
Nice=-20
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=99
LimitNOFILE=65536
LimitCORE=infinity
LimitMEMLOCK=infinity

[Install]
WantedBy=multi-user.target
